/* Search Bar  */
.searchForm {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: #24292f;
    color: white;
    padding: 10px 20px;
    }

.searchForm h2 {
    font-size: 18px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.searchForm h2 > span {
    margin-left: 10px;
}

.searchInputContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
}
.searchForm input,
.searchForm select {
    background: transparent;
    outline: none;
    color: white;
    border: 1px solid #5f6063;
}
.searchForm select {
    border: none;
    border-bottom: 1px solid #5f6063;
}

.searchForm input {
    background: white;
    border-right: none;
    width: 100%;
    padding: 0px 10px;
    color: black;
}

.searchFormselect option {
    color: black;
}

.searchForm select:hover,
.searchForm select:focus {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.searchForm input:hover,
.searchForm input:focus {
    border: 1px solid #ccc;
    border-right: none;
}
.searchForm input:hover + button,
.searchForm input:focus + button {
    border: 1px solid #ccc;
    border-left: none;
}

.searchForm .icon {
    color: white;
    position: relative;
}

.searchForm .btn {
    background: transparent;
    border: 1px solid #5f6063;
    border-left: none;
    border-radius: 0px;
    color: white;
    padding: 0.5rem;
    height: auto;
}

.searchForm .closeBtn {
    background-color: #943232;
}

.filter {
    display: flex;
    align-items: center;
}

.filter > span {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.criteria {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .searchForm {
        flex-direction: column;
        height: 6rem;
    }
    .searchForm h2 {
        display: none;
    }
    .searchInputContainer {
        width: 100%;
    }
    .filter {
        justify-content: center;
    }
}